body {
    text-align: left;
    background: url(../images/music-notes-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Livvic', sans-serif;

}

.lead {
    text-align: center;
    color: white;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0);
}

.display-4 {
    font-weight: bold;
    text-align: center;
    font-size: 80px;
    color: lightcyan;
    text-shadow: black 1px 0 10px;
}

h2 {
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    color: lightgrey;
}

.intro{
    border: solid 4px black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
    margin: auto;
    margin-top: 25px;
    max-width: 40rem;

}

.piano {
    border: solid 4px black;
    border-bottom: 2px;
    position: relative;
    display: table;
    max-width: 1200px;
    margin: 50px auto 0 auto;
    min-width: 530px;
}

.key {
    border: solid 2px lightgrey;
    font-family: 'Courier New', Courier, monospace;
    height: 18rem;
    width: 4.5rem;
    position: relative;
    float: left;
}

.white {
    color: black;
    background-color: white;
    z-index: 1;

    display: table-cell;
    vertical-align: text-bottom;


}

.black {
    color: white;;
    background-color: black;
    z-index: 2;
    height: 12rem;
    width: 3rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;

}
    
.pushed {
    border: solid 2px black;
}

.octave-control{
    border: solid 4px black;
    border-top: 2px;
    position: relative;
    display: table;
    margin: auto;   
}
.octave {
    height: 3rem;
    width: 3rem;
}
.octave-selector{
    width: 8rem;
}

.filler{
    width: 19rem;
}

.hidden{
    display: none;
}


.form-control{
    width: 200px;
}

.image{
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;

}

.description{
    font-style: italic;
    color: white;
}

.title{
    font-weight: bold;
    font-size: 50px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 50px;
}

.title:hover {
    color: red;
}

.tutorial{
    border: 1px solid black;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
}

.video-click {
    cursor: pointer;
}

#results{
    position: relative;
    max-width: 80vw;
    margin: 0 auto 0 auto;
}

.search_btn{
    background-color: red;
}

.artist_name{
    font-size: 30px;
    font-weight: bold;
}

.album_name{
    font-style: italic; 
}

#video{
    position: relative;
    text-align: center;
}

.album_art{
    float: right;
}

.users {
    position: fixed;
    top: 150px;
    left: 20px;
    z-index: 10;
}

.youtube-search {
    max-width: 750px;
    margin: 50px auto 50px auto;
    background-color: black;
    padding: 20px;
}

.search-label {
    color: white;
    font-weight: bold;
}

.show_search {
    margin-top: 50px;
    cursor: pointer;
}

.search_area {
    text-align: center;
}

.room {
    position: relative;
    float: right;
}

.room-start {
    font-size: 40px;
    font-weight: bold;
    color: white;
    /* text-shadow: black 2px 0 8px; */
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

@media (max-width: 1250px) {
    .second-octave{
        display: none;
    }

    .fifth-octave{
        display: inline-block;
    }
}