

body {
    text-align: left;
    background-image: url("../images/studio-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}

label {
    color: white;
}

.lead {
    text-align: center;
    color: white;
}
.jumbotron {
    background-color: rgba(0, 0, 0, 0);
}

.sidenav {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 166px;
    width: 290px;
    height: 256px;
    text-align: center;
    top: 144px;
    padding-top: 90px;
    color: white;
    font-size: 265%;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 3px 4px black;

}

.display-4 {

    text-align: center;
    
}

.intro{
    border: solid 4px black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
    margin: auto;
    margin-top: 25px;
    max-width: 40rem;

}

.piano {
    border: solid 4px black;

    border-bottom: 2px;
    position: relative;
    display: table;
    margin: auto;   
}

.key {
    border: solid 2px lightgrey;
    font-family: 'Courier New', Courier, monospace;
    height: 15rem;
    width: 3rem;
    position: relative;
    float: left;


}

.white {
    color: gray;
    background-color: white;
    z-index: 1;

    display: table-cell;
    vertical-align: text-bottom;


}

.black {
    color: gray;
    background-color: black;

    z-index: 2;
    height: 10rem;
    width: 2rem;
    margin-left: -1rem;
    margin-right: -1rem;

}
    
.pushed {
    border: solid 2px black;
}

.octave-control{
    border: solid 4px black;
    border-top: 2px;
    position: relative;
    display: table;
    margin: auto;   


}
.octave {
    height: 3rem;
    width: 3rem;

}
.octave-selector{
    width: 8rem;
}

.filler{

    width: 19rem;
}

.hidden{
    display: none;
}


.form-control{
    width: 200px;
}

.image{
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;

}

.description{
    font-style: italic;
}

.title{
    font-weight: bold;
    font-size: 50px;
    color: blue;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 50px;
}

.tutorial{
    border: 1px solid black;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
}

#results{
    position: relative;
}

.search_btn{
    background-color: red;
}

.artist_name{
    font-size: 30px;
    font-weight: bold;
}

.album_name{
    font-style: italic; 
}

.video{
    position: relative;
    text-align: center;
}

.album_art{
    float: right;
}


@media (max-width: 700px) {
    .second-octave{
        display: none;
    }

    .fifth-octave{
        display: inline-block;
    }
    
     
        
    }